<h1>Employee Details!!</h1>

    
<h2>Name: <%= data["name"] %></h2>
    <ul>
        <li>
            <strong>Username: </strong><%= data["username"] %>
        </li>
        <li>
            <strong>Email ID: </strong><%= data["email"] %>
        </li>
        <li>
            <strong>Phone No: </strong><%= data["phone"] %>
        </li>
        <li>
            <strong>Personal Website: </strong><%= data["website"] %>
        </li>
    </ul>
    



